body{
  padding:3% 10%;
  font-family: "Avenir"
}

.profile{
  float: left;
}

img{
    width: 250px;
    height:250px;
    display: cover;
    margin:10px;
  }

.clear{
  clear: left;
}

.right{
  background-color: #36E3C2;
  color: white;
  padding: 20px;
  width: 60%;
  margin:10px;
}

.profile h3{
  color: white
}

.container{
  padding-top: 30px;
}

h2, h3{
  color: #36E3C2;
}

.experience p{
  color: #36E3C2;
}

.border{
  border: solid 4px #36E3C2;
}

.experience{
  padding-top: 25px;
}

.non-bullet{
  list-style-type: none;
}
